openapi: 3.0.0
info:
  title: "GMO Coin APIs"
  version: "1.0.0"
  contact:
    name: tricoro
    email: dev@tricoro.tech
    url: https://tricoro.tech/
servers:
  - url: https://api.coin.z.com
tags:
  - name: public
    description: Public APIs
  - name: private
    description: Private APIs
paths:
  /public/v1/status:
    get:
      summary: Get an exchange status
      tags: [ 'public' ]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /public/v1/ticker:
    get:
      summary: Get latest rate
      tags: [ 'public' ]
      parameters:
        - in: query
          name: symbol
          schema:
            $ref: '#/components/schemas/Symbols'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tickers'
  /public/v1/orderbooks:
    get:
      summary: Get orderbooks
      tags: [ 'public' ]
      parameters:
        - in: query
          name: symbol
          schema:
            $ref: '#/components/schemas/Symbols'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orderbooks'
  /public/v1/trades:
    get:
      summary: Get trade histories
      tags: [ 'public' ]
      parameters:
        - in: query
          name: symbol
          schema:
            $ref: '#/components/schemas/Symbols'
          required: true
        - in: query
          name: page
          description: page number. (default 1)
          schema:
            type: integer
          required: false
        - in: query
          name: count
          description: Max count per request. (default 100)
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trades'
  /private/v1/account/margin:
    get:
      summary: Get account margin
      tags: [ 'private' ]
      security:
        - ApiKey: []
          ApiTimestamp: []
          ApiSign: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMargin'
  /private/v1/account/assets:
    get:
      summary: Get account assets
      tags: [ 'private' ]
      security:
        - ApiKey: []
          ApiTimestamp: []
          ApiSign: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assets'
  /private/v1/order:
    post:
      summary: Order
      tags: [ 'private' ]
      security:
        - ApiKey: []
          ApiTimestamp: []
          ApiSign: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  $ref: '#/components/schemas/Symbols'
                side:
                  type: string
                  enum:
                    - BUY
                    - SELL
                executionType:
                  type: string
                  enum:
                    - MARKET
                    - LIMIT
                    - STOP
                timeInForce:
                  type: string
                  enum:
                    - FAK
                    - FOK
                price:
                  type: string
                losscutPrice:
                  type: string
                size:
                  type: string
                cancelBefore:
                  type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/StatusCode'
                  data:
                    description: orderid
                    type: string
                  responsetime:
                    type: string
                    format: date-time
                  
components:
  schemas:
    StatusCode:
      type: integer
      description: 0 Nomal end
    Symbols:
      type: string
      description: Crypted currency symbols
      enum:
        - BTC
        - ETH
        - BCH
        - LTC
        - XRP
        - XEM
        - XLM
        - XYM
    Status:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusCode'
        data:
          properties:
            status:
              type: string
              enum: 
                - OPEN
                - MAINTENANCE
                - PREOPEN
        responsetime:
          type: string
          format: date-time
    Tickers:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusCode'
        data:
          type: array
          items:
            type: object
            properties:
              ask:
                type: integer
              bid:
                type: integer
              high:
                type: integer
              last:
                type: integer
              low:
                type: integer
              symbol:
                type: string
                $ref: '#/components/schemas/Symbols'
              timestamp:
                type: string
                format: date-time
              volume:
                type: number
                format: double
        responsetime:
          type: string
          format: date-time
    Orderbooks:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusCode'
        data:
          type: object
          properties:
            asks:
              type: array
              items:
                type: object
                properties:
                  price:
                    type: integer
                  size:
                    type: integer
            bids:
              type: array
              items:
                type: object
                properties:
                  price:
                    type: integer
                  size:
                    type: integer
            symbol:
              type: string
              $ref: '#/components/schemas/Symbols'
        responsetime:
          type: string
          format: date-time
    AccountMargin:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusCode'
        data:
          type: object
          properties:
            actualProfitLoss:
              type: string
            availableAmount:
              type: string
            margin:
              type: string
            marginCallStatus:
              type: string
            marginRatio:
              type: string
            profitLoss:
              type: string
        responsetime:
          type: string
          format: date-time
    Trades:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusCode'
        data:
          type: object
          properties:
            pagination:
              type: object
              properties:
                currentPage:
                  type: integer
                count:
                  type: integer
            list:
              type: array
              items:
                type: object
                properties:
                  price:
                    type: integer
                  side:
                    type: string
                  size:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        responsetime:
          type: string
          format: date-time
    Assets:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusCode'
        data:
          type: array
          items:
            type: object
            properties:
              amount:
                type: string
              available:
                type: string
              conversionRate:
                type: string
              symbol:
                type: string
                $ref: '#/components/schemas/Symbols'
        responsetime:
          type: string
          format: date-time
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: API-KEY
    ApiTimestamp:
      type: apiKey
      in: header
      name: API-TIMESTAMP
    ApiSign:
      type: apiKey
      in: header
      name: API-SIGN
